body {
    background-color: #a0937d;
}
#pridruzi_se {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  .pridruzi_se {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
  }
  .text {
    margin-bottom: 25px;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 0;
  }
  .joinus-page-div {
    min-width: 40%;
  }
  .joinus-page-input {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  .joinus-page-input input {
    padding: 0.5rem;
    border: none;
    border-bottom: 2px solid #e7d4b5;
    outline: none;
    background-color: #a0937d;
    color: antiquewhite;
  }
  .joinus-page-button button {
    width: 100%;
    padding: 1rem;
    background-color: #faf6f0;
    color: #a0937d;
    border: none;
    border-radius: 1px;
    outline: none;
    cursor: pointer;
  }
  .joinus-page-button button:hover {
    background-color: #e3cdc1;
    color: #ffffff;
    border-color: #a0937d;
  }
  .forma {
    width: 100%;
    height: 100vh;
    background: #a0937d;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .kartica {
    width: 40%;
    background-color: #fefefe;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
  }
  .kartica p {
    font-size: 30px;
    margin: 30px 10px 10px;
  }
